/* You can add global styles to this file, and also import other style files */

.col-lg-8
{
    border: 1px solid rgb(73, 160, 179);
    height: 500px;
    border-radius: 5px;
    position: relative;
    top: 80px;
    background-color: rgb(73, 160, 179);
}
.col-lg-3
{
    border: 1px solid rgb(73, 160, 179);
    height: 500px;
    border-radius: 5px;
    position: relative;
    top: 80px;
    background-color: rgb(73, 160, 179);
}
body
{
    background-color: rgb(51, 152, 172);
    color:rgb(251, 255, 255);
}